
img{
    width: 52px;
    height: 42px;
    margin-top: 8%;
    margin-left: 12%;
}

h1{
    font-weight: 1;
    font-size: 20px;
    margin-top: -3.4%;
    margin-left: 17%;
}

h3{
    margin-top: 3%;
    margin-left: 12%;
}

h4{
    margin-top: -2%;
    margin-left: 12%;
}

h5{
    margin-left: 75%;
    margin-top: -3%;
}
a{
    text-decoration: none;
}

div{
    margin-left: 12%;
    margin-right: 13%;
}