.barra{
    background-color: rgba(87, 87, 87, 0.572);
    padding-top: 1%;
   

}

#titulo{
    margin-left: 10.5%;
    color: white;
    margin-top: -3%;
   
}


#logo
{
    width: 55px;
    margin-left: 5%;
    margin-top: -7%;
}

nav{
    margin-left: 38%;
    margin-top: 3%;
    
}

a{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(65, 71, 195);
}

h3{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article{  
    
    padding: 65% 40px 70px 35%;
    background-image: url("img/contacto.jpg");
    background-size: cover;
   
}

.error{
    color: rgb(0, 0, 0);
    width: 84px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3px;
}


.container{
    padding: 4%;
    width: 300px;
    height: 400px;
    margin-left: -50%;
    margin-top: -80%;
    background-color:  rgba(214, 214, 214, 0.779);
    border-radius: 5%;
}

.label{
    width: 230px;
    border-radius: 2%;
    padding: 1px;
}

.tarea{
    width: 230px;
    height: 80px;
}

#boton{
    background-color:  rgb(43, 89, 138);
    margin-left: 77px;
    border: 12% black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#boton:hover{
    background-color: rgb(86, 86, 86);
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(8, 8, 8);
    padding-top: 30px;
    color: white;

}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.redes{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.redes li{
    margin: 0 55px;
}

.redes a{
    text-decoration: none;
    color: white;

}

.redes a i{
    font-size: 35px;

}

.redes a:hover{
    color: rgb(0, 255, 106);
}

.footer-a{
    margin-left: 4%;
    margin-top: 30px;
    text-align: center;
    padding: 13px 0;
    font-size: 22px;

}