.barra{
    background-color: rgba(87, 87, 87, 0.572);
    padding-top: 1%;
   

}

#titulo{
    margin-left: 10.5%;
    color: white;
    margin-top: -3%;
   
}


#logo
{
    width: 55px;
    margin-left: 5%;
    margin-top: -7%;
}

nav{
    margin-left: 38%;
    margin-top: 3%;
    
}

a{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(65, 71, 195);
}

.sn-1{
    margin-left: 27%;
    margin-top: 5%;
    border-radius: 8%;
    box-shadow: 0px 0px 0px 4px;
    color: rgb(151, 151, 151);
   
}

img{
    margin-right: 14%;
    margin-top: 1%;
    box-shadow: 0px 0px 0px 1px;
    color: rgb(151, 151, 151);
}

p{
    width: 70%;
    margin-top: 2%;
    margin-left: 16%;
}


footer{
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(8, 8, 8);
    padding-top: 30px;
    color: white;
    margin-top: 15%
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.redes{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.redes li{
    margin: 0 55px;
}

.redes a{
    text-decoration: none;
    color: white;

}

.redes a i{
    font-size: 35px;

}

.redes a:hover{
    color: rgb(0, 255, 106);
}

.footer-a{
    margin-left: 4%;
    margin-top: 30px;
    text-align: center;
    padding: 13px 0;
    font-size: 22px;

}